---
layout: breadth
header: carousel
blockquote: big
---
  <div class="tdsvp-callout tdsvp-center-align">
    <div class="container">
      <h2>TDS<em>managed</em>IP Hosted</h2>
      <p class="lead">
        is an internet, phone and mobile application suite designed to
        make your business more efficient and responsive.
        Trusted by thousands of customers nationwide and backed by a rock-solid network, four decades of experience in the industry and expert local support, TDS managedIP offers <strong>confidence in every connection</strong>.
      </p>
    </div>
  </div>
    {% include blockquote.html quote='This is the very best thing in the entire world. It is even better than my truck. I cannot live without it.' person='Jethro Fortworth' location='Chicago, Illinois' %}
  <!-- <div class="container">
    {% include cards.html %}
  </div> -->
  <div class="container">
    <div class="cards">
      <div class="card">
        <div class="card-image">
          <img src="{{ site.baseurl }}/public/img/video-card.jpg" alt="" class="img-responsive" alt="">
        </div>
        <div class="card-header">
          <h2>
            Video
          </h2>
        </div>
        <div class="card-copy">
          <p class="lead">Tired of feeling tethered to your desk?</p>
          <p>TDS managedIP is made for an ultra-mobile world, giving you
          full control over when and where you receive calls.</p>
        </div>
        <div class="card-footer">
          <button class="tdsvp-btn btn btn-primary btn-block">Read More</button>
        </div>
      </div>

      <div class="card">
        <div class="card-image">
          <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains-4.png" alt="">
        </div>
        <div class="card-header">
          <h2>
            White Papers
          </h2>
        </div>
        <div class="card-copy">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, officiis sunt neque facilis culpa molestiae necessitatibus delectus veniam provident.</p>
        </div>
        <div class="card-footer">
          <button class="tdsvp-btn btn btn-primary btn-block">Read More</button>
        </div>
      </div>

      <div class="card">
        <div class="card-image">
          <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains-3.png" alt="">
        </div>
        <div class="card-header">
          <h2>
            Blog
          </h2>
        </div>
        <div class="card-copy">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </div>
        <div class="card-footer">
          <button class="tdsvp-btn btn btn-primary btn-block">Read More</button>
        </div>
      </div>
    </div>

  </div>
