.tdsvp-blockquote {
  padding: 20px 0;
  blockquote {
    padding: 20px 20px;
  }
  &.tdsvp-blockquote-big {
    background: #fafafa;
    border-top: 1px solid $lines;
    border-bottom: 1px solid $lines;
    margin: 12px 0 24px 0;
    padding: 20px 0 32px 0;
    blockquote {
      padding: 20px 20px;
      width: 80%;
      margin: 0 auto;
      font-size: 1.0em;
      @include phones {
        font-size: 1.6em;
      }
    }
  }
}
