// fre-panels.less

$panel-border-radius: 0px;
$panel-default-border: #ccc;

$border-radius-base: 0px;

// bootstrap panel changes
.fre-panel {
  @extend .panel;
  @extend .panel-default;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 0px;
  box-shadow: none;
  .panel-heading {
    background-color: transparent;
  }
}

// ===== Shopping cart/checkout panels =========================================

// h3 Line Items titles
.fre-panel>.line-item-title {
  overflow: hidden;
  margin-top: 5px;
  margin-bottom: 26px;
  padding-left: 0px;
  font-family: $fre-font-family;
  color: $fre-dk-blue;
}
// h2 line items `.panel-header` color
.fre-panel>.line-item-title h2 {
  color: $fre-lt-blue;
}
// h3 line items header color
.fre-panel>.line-item-title h3 {
  margin-top: 0px;
  color: $fre-dk-blue;
  font-family: $fre-font-family;
}


// ===== contact support panels ================================================

/* This gives component value in author mode in cms */
.contactsupportmaincontainer {
  overflow: hidden;
  float: left;
  display: inline;
  width: 100%;
  // hide on mobile || **TODO** Need to update html classes instead of this.
  > .col-xs-6 {
    //.hidden-xs;
  }
  // keep visible
  > .col-sm-6.last {
      @extend .visible-xs;
      @extend .visible-sm;
      @extend .visible-md;
      @extend .visible-lg;
  }
}
// Hacky-McHckins Mobile fix TODO || rewrite all the mobile set ups
@media (min-width: 750px) {
  .contactsupportmaincontainer>.col-sm-6 {
    display: block !important;
  }
}

.fre-contact-panel,
.fre-support-panel {
  padding: 10px 32px 32px;
  height: 175px !important;
  width: 100%;
  font-family: $fre-font-family;
  font-weight: 200;
  background: #f5f5f5;
  border-color: transparent;
}
// hide on mobile
.fre-contact-panel {
  // .visible-sm;
  // .visible-md;
  // .visible-lg;
}
// expland on mobile
.fre-support-panel {
  //.make-md-column(6) !important;
  //.make-sm-column(6) !important;
  //.make-xs-column(12);
}
.fre-contact-panel h3,
.fre-support-panel h3 {
  margin-bottom: 24px;
  padding-bottom: 10px;
  font-size: 20px;
  font-weight: 500;
  color: $fre-lt-blue;
  border-bottom: 2px solid $fre-dk-blue;
}
// support icons fix
.fre-panel.fre-contact-panel a {
  display: inline-block;
  color: #555555;
  font-family: $fre-font-family;
  font-size: 0.875em;
  margin-right: 24px;
  &:hover {
    text-decoration: none;
    span {
      color: $fre-dk-blue;
    }
  }
}
// phone no. icon fix
.phone-number,
.phoneNumberDisplay,
.phoneNumberDisplay div {
  display: inline;
}

/* ===== Prod-items =======================================
 * fre Styles begin here
 * ======================================================== */


// ** NOTE **
// Move these to the prod items page, not object panels really.
// more design elements now I think.
.prod-items {
  border-color: transparent !important;
}
.prod-subitems {
  //.panel-footer;
  border-color: transparent !important;
  // moves description of subitems to make way for checkboxes
  .prod-contents {
    margin-left: 35px;
  }
}

.prod-items > .prod-contents,
.prod-items.fre-plus-packs .prod-contents {
  float: right;
  margin-bottom: 20px;
  padding: 20px;
  width: 90%;
  border: 3px solid #ccc !important;
  &.prod-highlight {
    background: $fre-lt-gray;
  }
}
// Panel components wrap
// the `.prod-items > .prod-contents` settings above are for multiple sections
// on a page like in the bundles page.
// this is for wrapping them when they just have one section.
// TODO || Should go back and make them all do this
.fre-panel-items {
  float: left;
  width: 100%;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
}

// Hack panel set up for TV Locations info on `tv.html`.
// This was writen by hand in a text editor component and this fixes the default
// width on that component when next to the `.fretvcomponent` class.
// TO DO || get a component built for this and remove this hacky hack.
.fretvcomponent + .text.parbase.section {
  width: 100%;
}
