//fre-variables.less

// Colors
// ---------
$fre-white:                     #fff;
$fre-gray:                      #ccc;
$fre-lt-gray:                   #e3e3e3;
$fre-ltr-gray:                  #f5f5f5;
$fre-dk-gray:                   #555;

$fre-green:                     #7bb227;
$fre-dk-blue:                   #19388A;
$fre-lt-blue:                   #258ECD;
$fre-lt-bluegray:               #e9f7fe;
$fre-red:                       #a94442;

// Bootstrap color overrides
$brand-primary:                 $fre-dk-blue;
$brand-success:                 $fre-green;
$brand-info:                    $fre-lt-blue;
// alert-colors

// *info
$state-info-bg:                 $fre-lt-bluegray;
$state-info-text:               $fre-dk-gray;

// warning
$state-warning-bg:              #fff8d8;

// Images
// ---------

// single icons
$fre-image-tv:                      "/content/dam/fretelecom/images/products/tv/icon-product-tv.svg";
$fre-image-phone:                   "/content/dam/fretelecom/images/products/phone/icon-product-phone.svg";
$fre-image-internet:                "/content/dam/fretelecom/images/products/internet/icon-product-internet.svg";

// bundle icons
$fre-image-bundle2-internet-tv:     "/content/dam/fretelecom/images/products/bundles/icon-bundle-internet-tv.svg";
$fre-image-bundle2-internet-phone:  "/content/dam/fretelecom/images/products/bundles/icon-bundle-internet-phone.svg";
$fre-image-bundle2-tv-phone:        "/content/dam/fretelecom/images/products/bundles/icon-bundle-tv-phone.svg";
$fre-image-bundle3:                 "/content/dam/fretelecom/images/products/bundles/icon-bundle-triple.svg";

// arrows
$fre-image-arrow-gray-right:        "/content/dam/fretelecom/sm-menu_arrow-gray.png";
$fre-image-arrow-white-left:        "/content/dam/fretelecom/left-arrow-white.svg";

// fonts
$fre-font-family:                   'ITC Avant Garde Gothic W01';

// page titles
